@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,600&display=swap');
htm{
    padding:0px;
    margin:0px;
}

body{
    background-color:rgba(0, 0, 0, 0.11)!important;
    font-family: 'Libre Bodoni', serif !important;
}
/*nav-bar section*/
