{% extends 'base.html'%}
{% block content%}
{% load crispy_forms_tags %}

<div class="container my-5  px-5 mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group mt-3 gap-3">
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="div">
                        <input type="submit" class="btn btn-primary group-sm" value="login">
                        <p>Don't have an account?</p>
                        <a  href="{%url 'register'%}">Register</a>

                    </div>                        
                </form>

            </div>

        </div>
    </div>
</div>



{%endblock %}
