{% extends 'base.html'%}
{% block content%}
<div class="row">
    <div class="col-xs-6 col-md-10">
        <div class="form-group">
            <h4>Kindly Login</h4>
                <form action="#" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="login">
                    <p>Don't have an account?</p>
                    <a  href="{%url 'register'%}">Register</a>
                </form>    

        </div>
    </div>
</div>


{% endblock %}


    