{%extends 'base.html'%}

{%block content%}
<div class="container">
        <div class="row p-md-5">
            <div class="col-sm-12 col-md-12">
                <h2>Task Overview</h2>
                <div class="card" style="width:18em;">
                <img src="https://cdn.pixabay.com/photo/2021/01/13/09/17/note-5913650_960_720.png" width="500px" class="card-img-top"alt="todo">
                <div class="card-body">
                  <h5 class="card-title">Task : {{task.title}}</h5>
                  <p class="card-text">Description : {{task.description }}</p>
                  <p class="card-text">Completed : {{task.completed }}</p>
                  <a href="{% url 'tasks'%}" class="btn btn-primary">Go Back</a>
                </div>
              </div>
            </div>            
        </div>    
</div>

{%endblock%}