{%extends 'base.html'%}

{% block content %}
<div class="container my-5">
  <div class="row">
    <!--search section bar-->
    <div class="col-xs-6 col-md-8">
      <form class="d-flex" method="GET">
        <input type="text" class="form-control me-2" placeholder="search for tasks" name="search_input" value="{{search_input}}">
        <button class="btn btn-outline-success" type="submit">Search</button>       
      </form> 
    </div>
    <!----task add section-->
    <div class="col-sm-6 col-md-4 mx 4">
      <a href="{%url 'task-add' %}" class="btn btn-group-sm ">Add New Task</a>
    </div>
  </div>
</div>
<!--container for task list-->
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col-sm-8 col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#Worklist</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
          {% for task in tasks %}
           <tr>
            <td>
              {{task.title}}
              <div class="links mx-5">
                <a href="{% url 'task' task.id %}" class="btn btn-primary btn-primary">View</a>
                <a href="{% url 'task_update' task.id %}" class="btn btn-success btn-success">Edit</a>
                <a href="{% url 'task_delete' task.id %}" class="btn btn-danger btn-danger">Delete</a>
              </div>              
            </td>
            {% empty %}
            <p>Nothing to show</p>
           </tr>      
          
          {%endfor%}
        </tbody>
      </table>    
    </div>
    <div class="col-sm-4 col-md-4 mx-8 ">
     
      </sidebar>
    </div>
  </div>
</div>

{% endblock %}



