{%extends 'base.html'%}

{%block content%}
<div class="container">
  <div class="row">
    <div class="col">
        <h2 style="margin:20px";>My Todos</h2>
        <a class="btn" href="{% url 'task-add' %}">Add Another Task</a>
        <form method="GET">
          <input type="text"  name="search-area" value="{{searh_input}}">
          <input type="submit" value="search">        
        </form>        
        <table id="table-section">
          <tr>
          </tr> 
          {% for task in tasks %}
          <tr id="each-list">
              <td>{{ task.title }}
                <a href="{% url 'task' task.id %}" >View</a>
                <a href="{% url 'task_update' task.id %}">Edit</a>
                <a href="{% url 'task_delete' task.id %}">Delete</a>
              </td>
        
            </tr>
            {%empty%}
            <h4>Incompleted Tasks</h4>        
     
         
          {% endfor %}         
            
        </table>     
                 
      </div>
  </div>
</div>   

{%endblock%}

