{%extends 'base.html'%}

{%block content%}
<div class="container-fluid">
        <div class="row p-md-5">
            <div class="col-sm-12 col-md-12">
                <h2>Task Overview</h2>
                <div class="card" style="width:24em;">
                <img src="https://cdn.pixabay.com/photo/2020/05/30/09/53/todo-lists-5238324_960_720.jpg" class="card-img-top" alt="web">
                <div class="card-body">
                  <h5 class="card-title">Task : {{task.title}}</h5>
                  <p class="card-text">Description : {{task.description }}</p>
                  <p class="card-text">Completed : {{task.completed }}</p>
                  <a href="{% url 'tasks'%}" class="btn btn-primary">Go Back</a>
                </div>
              </div>
            </div>            
        </div>    
</div>

{%endblock%}